*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    background-color: white;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;

    .main-img img{
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%,-50%);
        height: 30rem;
    }

    #lampadaAcesa{
        display: none;
    }
    #lampadaQuebrada{
        display: none;
    }

    .main-btn{
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 60%; 
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        input[type=button]{
            width: 8rem;
            height: 4rem;
            text-transform: uppercase;

            border-radius: 15px;
            cursor: pointer;
            border: none;
            font-size: 16px;
            font-weight: 600;
            background-color: #1c1c1c;
            color: white;
            transition: all .5s;
        }
        #red:hover{
            background-color: red;
        }
        #yellow:hover{
            background-color: rgb(189, 189, 2);
        }
        #green:hover{
            background-color: green;
        }
    }
}